/* Estilos de nuestro documento HTML */

body {
	background-color: PeachPuff;
	font-family: Helvetica;
}

h1 {
	color: indigo;
	border: solid;
	text-align: center;
	font-size: 40px;
}

h3 {
	color: #FF6347;
	font-size: 30px;
	text-decoration: underline;
	text-transform: uppercase;
}

p, ol, ul {
	color: tomato;
	font-size: 20px;
	text-indent: 50px;
}

.negrita {
	color: blue;
	font-weight: bold;
}

.cursiva {
	color: green;
	font-style: italic;
}

a {
	color: DarkCyan;
	font-size: 20px;
}

table{
	color: indigo;
	font-family: sans-serif;
	border-collapse: collapse;
	width: 80%;
}

th, td {
	border: 1px solid;
}
.estiloVideo {
	width: 50%;
}